#
# SPDX-License-Identifier: GPL-3.0-or-later
# En-tête Syslinux pour nemOS

SERIAL 0 115200
UI vesamenu.c32

MENU TITLE nemOS - La puissance de Linux, l'élégance de macOS
MENU BACKGROUND /%INSTALL_DIR%/boot/syslinux/splash.png
MENU WIDTH 78
MENU MARGIN 8
MENU ROWS 10
MENU HELPMSGROW 16
MENU TIMEOUTROW 18
MENU TABMSGROW 20
MENU CMDLINEROW 22
MENU HSHIFT 0
MENU VSHIFT 0

# Couleurs nemOS
MENU COLOR border       30;44   #00000000 #00000000 none
MENU COLOR title        1;36;44 #CDD6F4   #0A1628    none
MENU COLOR sel          7;37;40 #1A73E8   #CDD6F4    none
MENU COLOR unsel        37;44   #CDD6F4   #00000000  none
MENU COLOR help         37;40   #CDD6F4   #00000000  none
MENU COLOR timeout      1;37;40 #FFBD2E   #00000000  none
MENU COLOR timeout_msg  37;40   #CDD6F4   #00000000  none
MENU COLOR tabmsg       31;40   #4FC3F7   #00000000  none
MENU COLOR cmdmark      1;36;40 #CDD6F4   #00000000  none
MENU COLOR cmdline      37;40   #CDD6F4   #00000000  none