#
# SPDX-License-Identifier: GPL-3.0-or-later
# Configuration Syslinux PXE Linux pour nemOS

LABEL nemOS
  MENU LABEL nemOS
  LINUX /%INSTALL_DIR%/boot/i686/vmlinuz-linux
  INITRD /%INSTALL_DIR%/boot/i686/initramfs-linux.img
  APPEND archisobasedir=%INSTALL_DIR% archiso_nbd_srv=${archiso_nbd_srv_ip}%3A${archiso_nbd_srv_port} archiso_pxe_curl=${archiso_pxe_curl_server}