#
# SPDX-License-Identifier: GPL-3.0-or-later
# Configuration Syslinux Linux pour nemOS (boot avec noyau Linux)

LABEL nemOS
  MENU LABEL nemOS
  LINUX /%INSTALL_DIR%/boot/i686/vmlinuz-linux
  INITRD /%INSTALL_DIR%/boot/i686/initramfs-linux.img
  APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL%